<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Site{% endblock %}</title>

  {% block head %}
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
{% endblock %}
</head>

<body>

  <nav class="main-header-nav">
    <ul>
      <li><a href="#">Logo</a></li>
      <li><a href="#">My recipes</a></li>
      <li><a href="#">Browse</a></li>
      <li><a href="#">Channels</a></li>
      <li><a href="#">loginname</a></li>
    </ul>
  </nav>


  {% block content %}{% endblock %}

  <div class="main-footer">
    <nav class="main-footer-nav">
      <a href="/wtf" class="main-footer-link">About</a>
      <a href="/products" class="main-footer-link">Products</a>
      <a href="/blog" class="main-footer-link">Blog</a>
      <a href="/contact" class="main-footer-link" >Contact</a>
      <a href="/jobs" class="main-footer-link" >Jobs</a>
      <a href="/terms" class="main-footer-link" >Terms</a>
      <a href="/privacy" class="main-footer-link">Privacy</a>
    </nav>
    <p>
      Created in Prague
    </p>
  </div>


  {% block scripts %}
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  {% endblock %}
</body>

</html>
