{% extends '../layout.html' %}
{% import '../macros/formmacros.html' as forms %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <div class="page-header">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum odio, et adipisci incidunt, quos a veniam, error quod sequi modi eaque recusandae cupiditate illum. Consequatur ipsum totam molestias obcaecati tenetur fugit aspernatur cum sint facere doloremque beatae, adipisci saepe qui necessitatibus, quae dolorem sapiente, repellendus voluptas ratione repellat. Numquam debitis voluptate, recusandae fugiat rem rerum necessitatibus.
  </div>
{% endblock %}
