@import "reset";
@import "mixin";
@import "components";
@import "myrecipes";

.main-header-nav{
  .full-width;
  ul{
    display: flex;
    li{
      padding: 10px;
      &:first-child{
        margin-right: auto;
      }
      a{
        text-decoration: none;
        color: rgb(51, 51, 51);
        font-size: 110%;
        font-family:Verdana sans-serif;
      }
    }
  }
}

.main-footer{
  background-color: #333;
  color: #6f6f6f;
  line-height: 24px;
  padding: 32px 10px 36px;
  text-align: center;

  a {
    color: #fff;
    display: inline-block;
    margin: 4px;
    padding: 4px;
    text-decoration: none;
  }
}
